// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.c

.link {
  text-decoration: none;
  color: green;
}

.btn {
  background-color: blue;
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
}

.text-box {
  width: 700px;
  height: 40px;
  border-radius: 5px;
}
